#basis,
#output,
#educa,
#eduOutput,
#expie,
#expOut {
  flex: 1;
}

.boo {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
  align-items: flex-start;
}

.list-group {
  height: 100%;
}

.list-group-item {
  height: 25%;
  display: flex;
  align-items: center;
}