#basis,
#educa,
#expie {
  flex: 1;
}

#output,
#eduOutput,
#expOut {
  flex: 2;
}

.boo {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

.notStart {
  align-items: flex-start;
}

.card-mine {
  min-width: 450px !important;
  background-color: white !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#output {
  background-color: white;
}